

$font: "Merienda", cursive;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopHD: 1200px;
$desktopFullHD: 1350px;


$shadow: 0 0 10px 0 rgba(0,0,0,.18);


$rosado : #c36;
$text-color: #fff;
$verde: #30c1b3;
$verde-claro: #9be3de;
$verde-claro-mas:#c7e6e3;
$altura-descripcion:10rem;
$bg-color-blanco: #fff; 
$text-black-color:#000;


$transition-4: all ease .4s;
$transition-3: all ease .3s;
$transition-2: all ease .2s;

$bold:900;
$semibold:700;
$regular:500;
$light:300;
